In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn .linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [6]:
df = pd.read_csv('../datasets/alunos.csv', sep=',')

In [7]:
df.head()

,NOME,ANO,PONTO_VIRADA,FASE,TURMA,PEDRA,INDE,IAA,IEG,IPS,IDA,IPP,IPV,IAN,IDADE
0,ALUNO-1,2020,Não,2.0,H,Ametista,7.88,8.50,8.7,7.50,7.00,5.94,7.75,10.0,11.0
1,ALUNO-3,2020,Não,3.0,H,Ametista,7.86,7.92,8.9,7.50,5.50,8.12,8.11,10.0,12.0
2,ALUNO-4,2020,Não,1.0,D,Quartzo,5.08,8.00,4.1,6.88,0.00,7.19,7.75,5.0,10.0
3,ALUNO-5,2020,Não,2.0,M,Ametista,8.08,7.50,8.0,7.50,7.50,8.44,8.17,10.0,10.0
4,ALUNO-8,2020,Sim,4.0,L,Ametista,8.38,8.33,9.9,4.38,7.33,8.75,8.94,10.0,14.0

In [8]:
df_model = df.copy()

In [13]:
df_model_2022 = df_model.query('ANO == 2022')

In [22]:
df_model_2022_sim = df_model_2022.query("""  PONTO_VIRADA == 'Sim' and PEDRA == 'Topázio' """)
df_model_2022_nao = df_model_2022.query("""  PONTO_VIRADA == 'Não' and PEDRA == 'Topázio' """)